body{
    background-color:#6FCAB9;
}
a.navbar-brand,ul.navbar-right{
        font-family: 'Righteous', cursive;
}
.nav-pills li.active a{
    background-color:#6fcab9;
}
a{
        color:#4B9385;
}
.color-swatch {
    float: left;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    border-radius: 3px;
}
