
{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Turn getting in shape into a game</h1>
        <p>Use Fitify to better your stamina, lose weight, and build muscle. Start your fitness journey here! </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Easy</h2>
          <p>Connects with your fitbit in order to determine your stats. All you have to do is sync. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Fun</h2>
          <p>Engaging quirky stories, fast paced combat, and amazing items to equip. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Effective</h2>
          <p>Motivating, interesting, and insanely fun to help you meet your goals.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

{% endblock %}
   
